.header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 57px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: rgb(222, 222, 222);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  z-index: 1000;
}

.left-section {
  width: 162px;
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 1;
  max-width: 470px;
  display: flex;
  align-items: center;
}

.right-section {
  width: 182px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
}

.search-bar {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 10px;
  font: Roboto, sans-serif;
  font-size: 16px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search-btn {
  width: 64px;
  height: 40px;
  border: 1px solid #ccc; 
  background-color: #f8f8f8;
  margin-left: -1px;
  border-radius: 2px;
  cursor: pointer;
}

.search-icon {
  height: 24px;
  width: 24px;
  margin-top: 5px;
}

.voice-search-btn {
  height: 40px;
  width: 50px;
  border: none;
  margin-left: 8px;
  border-radius: 20px;
  cursor: pointer;
}

.voice-search-icon {
  height: 24px;
  width: 24px;
  margin-top: 5px;
}

.create-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.youtube-apps-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.notification-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.user-icon {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.youtube-logo {
  height: 24px;
  width: 90px;
  cursor: pointer;
}

.hamburger-menu {
  height: 24px;
  width: 24px;
  margin-left: 30px;
  margin-right: 24px;
  cursor: pointer;
}

