.sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 80px;
  left: 0;
  bottom: 0;
  top: 57px;
  position: fixed;
  align-items: center;
  align-items: vertical;
  z-index: 1000;
}

.sidebar-icons {
  width: 80px;
  height: 70px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.sidebar-icons div {
  margin-top: 5px;
  font-family: Roboto, sans-serif;
  font-size: 10px;
}

.sidebar-icons:hover {
  background-color: #f0f0f0;
}

.sidebar-icons img {
  width: 24px;
  height: 24px;
  margin-top: 12px;
}